/* CSS files add styling rules to your content */
body {
  min-height: 100%;
  position: relative;
  font-family: Georgia, serif;
  color: #333;
  font-size: 18px;
  line-height: 26px;
  background-color: #fff;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: KisFBDisplay, Times, "Times New Roman", serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
}

.graphic-container {
  max-width: 630px;
  margin: 0 auto;
}

.bulletList {
  max-width: 500px;
  margin: auto;
  border: 1px solid #31799e;
  border-radius: 4px;
  margin-bottom: 40px;
  line-height: 1.55;
}

.bullet_list {
  margin-top: 30px;
}

.masthead {
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  z-index: 9999;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0.66rem;
}

.byline {
  text-align: center;
  font-size: 12px;
  display: block;
  font-family: "Benton Gothic", Arial, sans-serif;
  margin: 0 0 2px;
  line-height: 1.5;
  font-weight: 700;
  color: #000;
}

.dateline {
  text-align: center;
  color: #666;
  font-family: "Benton Gothic", Arial, sans-serif;
  margin: 0 0 2px;
  line-height: 1.5;
  font-size: 14px;
  text-transform: none;
}

.box {
  margin: 0 auto;
  background: #f7f5f5;
  border-radius: 10px;
  display: flex;
}

.big-numbers {
  max-width: 730px;
  margin: 30px auto;
  display: flex;
  background-color: none;
  border-radius: 10px;
  text-align: center;
  font-family: "Benton Gothic", Arial, sans-serif;
}

.big-number {
  line-height: 45px;
  font-weight: 700;
  text-align: center;
  display: grid;
  margin: 0 0 5px;
  font-size: 2.625rem;
}

.big-number-label {
  font-size: 0.9375rem;
  line-height: 15px;
  text-align: center;
  font-weight: 500;
}

.confirmed-list-style {
  list-style-type: none;
  color: #026f90;
  padding: 20px;
  text-align: center;
}

.deaths-list-style {
  list-style-type: none;
  color: #3c4753;
  padding: 20px;
  text-align: center;
}

.vaccines-list-style {
  list-style-type: none;
  color: #65772c;
  padding: 20px;
  text-align: center;
}

.small-number {
  font-weight: 700;
}

.big-numbers.triptych {
  max-width: 800px;
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
